# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TERRY 프로젝트 내의 캐시 데이터 제외 (상대 경로로 작성)
TERRY/p01_backEnd/cache/
**/cache/*.pkl
**/cache/

# 대용량 데이터들

p04_DataLoader/csv/
p04_DataLoader/geojson/